Fase3/LM/Clasificacion.dtd

<!ELEMENT clasificacion (equipos+,fechaExpiracion)>
        <!ATTLIST clasificacion ID CDATA #REQUIRED>
        <!ELEMENT fechaExpiracion (#PCDATA)>
        <!ELEMENT equipos (equipo)*>
        <!ELEMENT equipo (nombre|puntos|posicion)*>
        <!ELEMENT nombre (#PCDATA)>
        <!ATTLIST nombre ID CDATA #REQUIRED>
        <!ELEMENT puntos (#PCDATA)>
        <!ELEMENT posicion (#PCDATA)>