Fase3/LM/Clasificacion.dtd

<!ELEMENT clasificaciones (clasificacion)*>
        <!ELEMENT clasificacion (equipos|temporada)*>
        <!ATTLIST clasificacion
                ID CDATA #REQUIRED>
        <!ELEMENT equipos (equipo)*>
        <!ELEMENT equipo (nombre|puntos)*>
        <!ELEMENT nombre (#PCDATA)>
        <!ATTLIST nombre
                ID CDATA #REQUIRED>
        <!ELEMENT puntos (#PCDATA)>
        <!ELEMENT temporada (#PCDATA)>