Fase3/LM/UltimaJornada2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ultimajornada" type="ultimajornadaType"/>
  <xs:complexType name="ultimajornadaType">
    <xs:sequence>
      <xs:element type="xs:string" name="fecha"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="ID"/>
  </xs:complexType>
</xs:schema>